---
layout: default
---

<div>

  {%- if page.title -%}
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  {%- endif -%}

<header class="home-area overlay" id="home_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 hidden-sm col-md-5">
                    <figure class="mobile-image wow fadeInUp" data-wow-delay="0.2s">
                        <img src="{{ site.baseurl }}/assets/images/header-girl.png" alt="">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-7">
                    <div class="space-80 hidden-xs"></div>
                    <h1 class="wow fadeInUp" data-wow-delay="0.4s">{} Coding Saint  .</h1>
                    <div class="space-20"></div>
                    <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                        <p>Simple Short Tutorials</p>
                    </div>
                    <div class="space-20"></div>
                    <a href="https://www.udemy.com/course/spring-boot-and-rest-api/?referralCode=61F8139662DFDFE6DB67" class="btn btn-default btn-rounded waves-effect waves-light wow fadeInUp" data-wow-delay="0.8s"><i class="lnr lnr-download"></i>Spring Boot and Microservices 90% discount on Udemy</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Home-Area-End -->
  <section>
    {{ content }}
  </section>

  {%- if site.posts.size > 0 -%}
  
  
	<section class='container'>
  <p class="h4 text-center">{{ page.list_title | default: "Recent Posts" }}</p>
  
    <!-- Grid row -->
    <div class="row mx-1">

     
      {%- for post in site.posts -%}
	  
	  <!-- Card -->
	   <!-- Grid column -->
     <div class="col-md-6">
<div class="card" >

  <!-- Card image -->
  <div class="view overlay">
 

{% if post.image%}
<img class="card-img-top" src="{{post.image }}" alt="Card image cap">
{% else %}
<img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" alt="Card image cap">
            
{% endif %} 

    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title"> {{ post.title | escape }}</h4>
	<span class="text-muted">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}  | {{post.author}}
        </span>
    <!-- Text -->
    <p class="card-text">
          {{ post.excerpt |  | truncate: 100 }}
      
	</p>
    <!-- Button -->
	<a href="{{ post.url | relative_url }}" class="btn btn-primary btn-rounded">
              Read More
            </a>

  </div>

</div>
<!-- Card -->
 
 </div>

{%- endfor -%}
</div>
</section>

{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul>
    {% for post in category[1] %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
